body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    text-align: center;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.container::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black 0%, white 100%);
    opacity: 0.1;
}